.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 40%;
  height: 40vh;
  margin-left: 20%;
  background-color: thistle;
  border: 2px solid black;
  margin-bottom: 20px;

}
